/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.photes-button {
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--interactive-normal);
	color: var(--text-normal);
}

.photes-button.disabled {
	cursor: inherit;
	pointer-events: none;
}

.photes-icon {
	width: 1em;
	height: 1em;
	--icon-size: 1em;
	background: #fff;
	display: flex;
}

.photes {
	fill: none;
}

.loading-icon {
	width: 1em;
	height: 1em;
	--icon-size: 1em;
	display: flex;
	animation: spin 1s linear infinite;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*
    color use theme
*/
.photes-button:hover {
	background-color: var(--interactive-hover);
}

.photes-info {
	border: 1px solid var(--background-modifier-border);
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
}

.photes-status-bar-item {
	color: var(--color-blue);
}
